<div class="row">
    <div class="col-md-4">
        <h2>Create Team</h2>
        <%= form_for @team do |f| %>
            <div class="form-group">
                <%= f.label :name %>
                <%= f.text_field :name, class: "form-control" %>
            </div>
            
            <%= f.submit "Create", class: "btn btn-primary" %>
        <% end %>
    </div>
</div>
